<<<<<<< Updated upstream
.small-font{
    font-size: 12px;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.60);
}
#page1, #page-oilcard, #page-record, #page-install, #page-activities, #page-confirm{
    background-color: #EFEFEF;
}
.page nav{
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    padding: 0.1rem;
    background-color: white;
    text-align: center;
    position: relative;
}
.page nav a{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.15rem;
    left: 0;
}
.page .toleft{
	display: inline-block;
    width: 1.0rem;
    height: 1.0rem;
    background: url('../img/page1/topleft.png') no-repeat;
    background-size: 100% 100%;
}
.page .title{
	font-size: 1rem;
}
#page1 .quite{
	display: inline-block;
	width: 1.0rem;
	height: 1.0rem;
    background: url('../img/page1/quite.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
.page1-wrapper, .page-member-wrapper{
    position: relative;
    height: 26rem;
    overflow:hidden;
}
.page1-wrapper .iscroll, .page-member-wrapper .iscroll{
    position: absolute;
    top: 0;
    height: 26rem;
}
@media screen and (max-width: 360px) and (max-height:560px) {
    .page1-wrapper .iscroll, .page-member-wrapper .iscroll{
        height: 27.5rem;
    }
}
#page1 header{
    width: 100%;
    height: 6.85rem;
    background: url('../img/page1/bg.jpg') no-repeat;
    background-size: 100% 100%;
    position: relative;
}
#page1 header .head img{
    width: 4.66rem;
    height: 4.66rem;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    top: 1.05rem;
    left: 1.45rem;
}
#page1 header .head2{
    width: 14.85rem;
    height: 4.975rem;
    color: white;
    background: url('../img/page1/head2.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0.9rem;
    left: 1.3rem;
}
#page1 header .head2 .name{
    font-size: 1rem;
    position: absolute;
    top: 1.5rem;
    left: 6rem;
}
#page1 header .head2 .phone{
    font-size: 0.75rem;
    position: absolute;
    top: 3rem;
    left: 6rem;
}
#page1 .items{
	width: 100%;
	height: 3.65rem;
	background-color: white;
    padding: 0.2rem 0;
    text-align: center;
}
#page1 .items .item{
	display: inline-block;
    box-sizing: border-box;
    width: 31.2%;
    height: 100%;
}
#page1 .items .item1{
    border-right: 1px solid #ccc;
}
#page1 .items .item3{
    border-left: 1px solid #ccc;
}
#page1 .items .num{
	font-size: 1rem;
    padding-top: 0.6rem;
}
#page1 .items .num sub{
	font-size: 0.7rem;
	padding-left: 0.5rem;
}
#page1 .items .desc{
    color: #333333;
	font-size: 0.75rem;
    line-height: 1.7rem;
}
#page1 .items .item1 .num{
    color: #FFB002;
}
#page1 .items .item2 .num{
    color: #FF291E;
}
#page1 .items .item3 .num{
    color: #0477E2;
}
#page1 .content{
    padding: 1rem 0 0 0.55rem;
}
#page1 .content .item{
    display: inline-block;
	width: 7.5rem;
	height: 5.0rem;
    margin: 0 0 0.6rem 0.5rem;
    font-size: 0.75rem;
	background-color: white;
	border-radius: 0.75rem;
	color: #333333;
	text-align: center;
	position: relative;
}
#page1 .content .item .icon{
	width: 2.65rem;
	height: 1.925rem;
    position: absolute;
    top: 1rem;
    left: 2.3rem;
}
#page1 .content .item.discount .icon{
	background:url('../img/page1/icon1.png') no-repeat;
	background-size: 100% 100%;
}
#page1 .content .item.record .icon{
	background:url('../img/page1/icon2.png') no-repeat;
	background-size: 100% 100%;
}
#page1 .content .item.card .icon{
	background:url('../img/page1/icon3.png') no-repeat;
	background-size: 100% 100%;
}
#page1 .content .item.install .icon{
	background:url('../img/page1/icon4.png') no-repeat;
	background-size: 100% 100%;
}
#page1 .content .item .text{
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 3.5rem;
    font-weight: bolder;
}
#page1 .content .item .conner{
	width: 2.55rem;
	height: 2.55rem;
    color: white;
	background: url('../img/page1/conner.png') no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	right: 0;
}
#page1 .content .item .conner span{
    position: absolute;
    top: 0.4rem;
    right: 0.6rem;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0rem;
    left: 0;
    padding: 0.2rem 0;
    border-top: 1px solid #ccc;
    z-index: 100;
    background-color: white;
}
footer>a {
    width: 20%;
    height:100%;
    text-align: center;
    position: absolute;
    top: 0.15rem;
    left: 50%;
    margin-left: -10%;
}
footer>a img {
    width: 2.1rem;
    height: 2.075rem;
    line-height: 2.075rem;
}
footer .bottom {
    float: left;
    width: 20%;
    text-align: center;
}
footer .bottom span {
    float: left;
    width: 100%;
    color: #b1b1b1;
    font-size: 0.55rem;
}
footer .bottom:nth-of-type(3) {
    margin-left: 20%;
}
footer .bottom img {
    width: 1.45rem;
	height: 1.3rem;
}
.btn-wrap{
    width: 100%;
    height: 2.6rem;
    background-color: white;
}
.btns {
    width: 16.625rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    margin:0 auto;
    border-radius: .4rem;
    text-align: center;
}
.btn{
    display: inline-block;
    float: left;
    height: 100%;
}
.btn3{
    width: 33.333%;
}
.btn3:nth-of-type(1){
    border-radius: .4rem 0 0 .4rem;
}
.btn3:nth-of-type(2){
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.btn3:nth-of-type(3){
    border-radius: 0 .4rem .4rem 0;
}
.btn3.active, .btn2.active{
    color: white;
    background-color: #FE5102;
}
.btn2{
    font-size: 0.8rem;
    width: 50%;
}
.btn2:nth-of-type(1){
    border-right: 1px solid #ccc;
    border-radius: .4rem 0 0 .4rem;
}
.btn2:nth-of-type(2){
    border-right: 1px solid #ccc;
    border-radius: 0 .4rem .4rem 0;
}
#page-record .record-container {
    position: absolute;
    z-index: 1;
    top: 5rem;
    bottom: 15px;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding-left: 0.68rem;
}
#page-record .record-container .iscroll{
    position: absolute;
    z-index: 1;
}
#page-record .record{
    color: #999;
    text-align: center;
    padding-top: 0.8rem;
}
#page-record .record time{
    font-size: 0.5rem;
    line-height: 1.5rem;
}
#page-record .record-content{
    width: 16.625rem;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #ccc;
    background-color: white;
    padding: 0 0.3rem;
    line-height: 1.5rem;
    border-radius: 0.2rem;
    text-indent: 1rem;
}
#page-record .record h3{
    font-size: 0.75rem;
    color: #666;
    border-bottom: 1px solid #ccc;
    font-weight: 100;
    position: relative;
}
#page-record .record h3 span{
    position: absolute;
    top: 0.1rem;
    right: 1.5rem;
}
#page-record .record p{
    font-size: 0.6rem;
    border-bottom: 1px solid #ccc;
}
#page-record .record p:nth-of-type(2){
    border-bottom: none;
    line-height: 2.2rem;
}
#page-discount .ruleBtn{
    width: 100%;
    position: relative;
}
#page-discount .ruleBtn a{
    display: inline-block;
    width:3.875rem;
    height: 1.1rem;
    line-height: 1.1rem;
    font-size: 0.6rem;
    box-sizing: border-box;
    text-indent: 1rem;
    background: url('../img/card/wenhao.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: .5rem;
    right: .5rem;
}
.layer{
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
#layer-rule .rule-content{
    width: 16rem;
    height: 8.5rem;
    padding: 0.2rem 1rem;
    background-color: white;
    position: absolute;
    top: 6.8rem;
    left: 1rem;
}
.rule-content h6{
    font-size: 0.7rem;
    line-height: 1.5rem;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid rgb(201, 202, 203);
}
.rule-content p{
    font-size: 0.65rem;
    padding-top: 0.5rem;
    line-height: 130%;
}
.rule-close{
    display: inline-block;
    width: 2rem;
    position: absolute;
    top: .2rem;
    right: .5rem;
}
#page-discount .discount-wrap{
    position: absolute;
	z-index: 1;
	top: 6.6rem;
	bottom: 15px;
	left: 0;
	width: 100%;
	overflow: hidden;
}
#page-discount .discount-wrap .iscroll{
    width: 100%;
    z-index: 1;
    position: absolute;
}
#page-discount .discount-content{
    width: 100%;
    height: 6.325rem;
    padding-top: 0.6rem;
    border-bottom: 1px dashed #ccc;
    text-align: center;
    position: relative;
}
#page-discount .discount-bg{
    width: 15.05rem;
    height: 5.05rem;
    margin: 0 auto;
    color: white;
    position: absolute;
    top: .6rem;
    left: 1.5rem;
}
#page-discount .discount-bg img{
    width: 100%;
    height: 100%;
}
#page-discount .discount-bg3 .prize .kuang{
    width: 8rem;
    height: 3rem;
    background-color: rgb(23, 64, 56);
    position: absolute;
    bottom: 1.7rem;
    border-radius: 0.5rem;
    left: 3.2rem;
}
#page-discount .discount-bg3 .prize .name{
    width: 4rem;
    font-size: 0.6rem;
    position: absolute;
    left: 0.4rem;
    bottom: .6rem;
    line-height: 150%;
}
#page-discount .discount-bg3 .prize img{
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    position: absolute;
    right: 0;
    bottom: 0;
}
#page-discount .discount-bg4 .condition{
    color:rgb(162, 76, 0);
    position: absolute;
    top: 0.7rem;
    left: 0.6rem;
}
#page-discount .discount-bg4 .cash{
    font-size: 1.8rem;
    color: rgb(177, 84, 10);
    position: absolute;
    top: 1.8rem;
    left: 0.8rem;
}
#page-discount .discount-bg4 .limit4{
    color: rgb(130, 130, 123);
    position: absolute;
    top: 3.4rem;
    left: 6rem;
}
#page-discount .discount-content .money-small{
    font-size: 1.2rem;
    font-weight: bolder;
    position: absolute;
    top: 3.2rem;
    left: 0.5rem;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
#page-discount .discount-content .money-big{
    font-size: 3.5rem;
    font-weight: bolder;
    position: absolute;
    bottom: 1.2rem;
    left: 5.5rem;
}
#page-discount .discount-content p{
    width: 100%;
    position: absolute;
    bottom: 1rem;
    left: 2rem;
}
#page-discount .discount-content p.use{
    bottom: 0.8rem;
}
#page-discount .discount-content .limit{
    bottom: .1rem;
}
.small-font{
    font-size:0.8rem;
                -webkit-transform-origin-x: 0;
                -webkit-transform: scale(0.70);
}
/*.smallsize-font {*/
    /*font-size:6px;*/
/*}*/

#page-detail .details-content .text{
    width: 16.0rem;
    height: 1.625rem;
    line-height: 1.635rem;
    font-size: 0.65rem;
    color: rgb(48, 49, 50);
    background-color: #EFEFEF;
    margin: 0.25rem auto;
    font-weight: 100;
    text-indent: 0.65rem;
}
#page-detail .qrcode{
    width: 11.5rem;
    height: 11.5rem;
    margin: 1rem auto;
    background-color: purple;
}
#page-detail .qrcode img{
    width: 100%;
    height: 100%;
}
#page-detail .barcode{
    text-align: center;
    font-size: 0.8rem;
    line-height: 2rem;
}
#page-detail .barcode .bg{
    width: 9.2rem;
    height: 2.925rem;
    background-color: yellow;
    margin: 0 auto;
}
#page-detail .barcode .bg img{
    width: 100%;
    height: 100%;
}
.rule-wrap{
    width: 14rem;
    margin: 0 auto;
    color: rgb(38, 38, 39);
    padding-top: 2rem;
}
.rule-wrap h6{
    font-size: 0.7rem;
    line-height: 1.5rem;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid rgb(201, 202, 203);
}
.rule-wrap p{
    font-size: 0.65rem;
    padding-top: 0.5rem;
    line-height: 180%;
}
#page-member header{
    width: 18.0rem;
    height: 2.725rem;
}
#page-member header img{
    width: 100%;
    height: 100%;
}
#page-member main{
    position: relative;
    text-align: center;
}
#page-member .assist{
    height: 2.6rem;
    line-height: 2.6rem
}
#page-member main .des{
    font-size: 0.9rem;
    color: #999;
    line-height: 150%;
    position: absolute;
    top: 15rem;
    left: 3.6rem;
}
#page-member .ercode-bg{
    width: 10.5rem;
    height: 10.5rem;
    text-align: center;
    background: url('../img/ercode-bg.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 4rem;
    left: 3.5rem;
}
#page-member .ercode-bg img{
    width: 10rem;
    height: 10rem;
}
#page-member .shadow{
    width: 16.875rem;
    height: 0.45rem;
    position: absolute;
    left: 0.5rem;
}
#page-member .shadow-top{
    top: 2.6rem;
}
#page-member .shadow-bottom{
    top: 18.5rem;
}
#page-member .shadow-top img,.shadow-bottom img{
    width: 100%;
    height: 100%;
}
/*#page-oilcard{
    background-color: rgb(234,235,236);
}*/
#page-oilcard .wrapper{
    position: absolute;
	z-index: 1;
    top: 4.6rem;
    bottom: 15px;
	left: 0;
	width: 100%;
	overflow: hidden;
}
#page-oilcard .wrapper .iscroll{
    width: 100%;
    z-index: 1;
    position: absolute;
}
#page-oilcard .bind-oil{
    width: 100%;
}
#page-oilcard .oil-card0{
    width: 7.075rem;
    height: 9.65rem;
    position: absolute;
    top: 8rem;
    left: 5rem;
    background: url('../img/card/未绑定水印.png');
    background-size: 100% 100%;
}
#page-oilcard .oil-card{
    width: 16.5rem;
    height: 2.5rem;
    margin: 1.2rem auto;
    line-height: 2.5rem;
    box-shadow: 0 0 2px #ccc;
    border-radius: 0.4rem;
    background-color: white;
    text-indent: 1rem;
    position: relative;
    font-size: 0.8rem;
    overflow: hidden;
    box-shadow: 0 2px 2px #bbb;
}
#page-oilcard .oil-card:nth-of-type(1){
    margin-top: 1.8rem;
}
#page-oilcard .confirm-oil .oil-card{

}
#page-oilcard .oil-card em{
    display: inline-block;
    border-top: 1rem solid rgb(159, 159, 159);
    border-right: 1rem solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}
#page-oilcard .oil-card.bind{
    overflow: hidden;
}
#page-oilcard .oil-card.bind em{
    border-top: 1rem solid red;
    border-right: 1rem solid transparent;
}
#page-oilcard .oil-card .confirmBtn, .oil-card .confirmDel{
    color: rgb(212, 132, 91);
    padding: 0.5rem;
}
form p{
    width: 100%;
    height: 2.3rem;
    line-height: 2.3rem;
    background-color: white;
    text-align: left;
    text-indent: .5rem;
}
form p label{
    display: inline-block;
    font-size: 0.8rem;
    font-weight: bold;
    width: 30%;
}
form p input{
    display: inline-block;
    font-size: 0.75rem;
    color: rgb(80, 80, 80);
}
form p:nth-of-type(1){
    margin: 0.8rem 0;
}
form p:nth-of-type(2){
    margin-bottom: 1px;
}
form P:nth-last-of-type(1){
    width: 16rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    background-color: #FE5102;
    position: absolute;
    top: 23rem;
    left: 1rem;
    border-radius: 999px;
}
form #msgSubmit, form #cardSubmit{
    width: 95%;
    height: 100%;
    color: white;
    font-size: 1rem;
}
#page-activities .news{
    position: absolute;
	z-index: 1;
	top: 2rem;
	bottom: 15px;
	left: 0;
	width: 100%;
	overflow: hidden;
}
#page-activities .news .iscroll{
    position: absolute;
    z-index: 1;
}
#page-activities .new{
    width: 17rem;
    height: 10rem;
    margin: 2.5rem 0.5rem 0;
    background-color: white;
    position: relative;
}
#page-activities time{
    position: absolute;
    top: -1rem;
    left: .5rem;
    font-size: 0.55rem;
}
#page-activities .new .bg{
    width: 16rem;
    height: 6.5rem;
    position: absolute;
    top: .6rem;
    left: 0.5rem;
}
#page-activities .new .bg img{
    width: 100%;
    height: 100%;
}
#page-activities .new .newTitle{
    width: 16rem;
    height: 1.3rem;
    line-height: 1.3rem;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0.5rem;
    bottom: 2.9rem;
    font-weight: 100;
    font-size: 0.75rem;
}
#page-activities .new .limitTime{
    position: absolute;
    bottom: 2.1rem;
    right: 0.5rem;
    font-size: 0.5rem;
}
#page-activities .new .content{
    position: absolute;
    bottom: 1rem;
    left: .5rem;
    font-size: 0.65rem;
}
#page-activities .new .address{
    position: absolute;
    bottom: 0.3rem;
    left: 0.5rem;
    font-size: 0.5rem;
    color: rgb(86,86,86);
}
=======
#container {
  position: absolute;
  overflow: hidden; }
  #container .iscroll {
    width: 100%; }
    #container .iscroll header {
      width: 100%;
      height: 9.75rem;
      background: url("../img/bg_top.png") no-repeat center center;
      background-size: 100% 100%;
      position: relative; }
      #container .iscroll header .title {
        width: 12.425rem;
        height: 3.55rem;
        position: absolute;
        top: 2rem;
        left: 1.65rem; }
        #container .iscroll header .title img {
          width: 100%;
          height: 100%; }
      #container .iscroll header .bar {
        width: 14rem;
        height: 4rem;
        background: url("../img/bar_bg.png") no-repeat center center;
        background-size: 100% 100%;
        position: absolute;
        top: 5rem;
        left: .95rem; }
        #container .iscroll header .bar .title2 {
          width: 8.8rem;
          height: 1.05rem;
          color: #eb0000;
          position: absolute;
          top: 1.25rem;
          left: 2.2rem; }
        #container .iscroll header .bar .time {
          width: 100%;
          height: 0.5rem;
          font-size: 0.5rem;
          line-height: 0.5rem;
          text-align: center;
          color: white;
          position: absolute;
          top: 2.9rem; }
    #container .iscroll main .intro {
      width: 6rem;
      float: left;
      padding-left: 0.2rem; }
      #container .iscroll main .intro .brand {
        padding: 0.1rem; }
      #container .iscroll main .intro .name {
        font-size: 0.6rem;
        color: #444;
        padding: 0.1rem 0;
        font-weight: 500; }
      #container .iscroll main .intro .name0 {
        padding: 0; }
      #container .iscroll main .intro .specs {
        font-size: 0.5rem;
        color: #707070;
        padding-top: 0.1rem; }
      #container .iscroll main .intro .cost {
        font-size: 0.5rem;
        color: #e37877;
        padding: 0.1rem 0; }
      #container .iscroll main .intro .desc {
        font-size: 0.6rem;
        color: #111;
        padding-top: 0.4rem; }
      #container .iscroll main .intro .desc0 {
        padding-top: 0rem; }
      #container .iscroll main .intro .sale {
        font-size: .7rem;
        color: white;
        margin-top: 0.25rem; }
      #container .iscroll main .intro .sale-m {
        width: 3.04rem;
        height: 1.225rem;
        line-height: 1.225rem;
        background: url("../img/bg_m.png") no-repeat center center;
        background-size: 100% 100%;
        text-indent: .3rem; }
      #container .iscroll main .intro .sale-l {
        width: 5.4rem;
        height: 1.225rem;
        line-height: 1.225rem;
        background: url("../img/bg_l.png") no-repeat center center;
        background-size: 100% 100%; }
      #container .iscroll main .intro .sale-s {
        width: 2.925rem;
        height: 1.225rem;
        line-height: 1.225rem;
        background: url("../img/bg_s.png") no-repeat center center;
        background-size: 100% 100%;
        text-indent: .5rem; }
      #container .iscroll main .intro .sale-b {
        width: 6.875rem;
        height: 1.8rem;
        background: url("../img/bg_b.png") no-repeat center center;
        background-size: 100% 100%;
        padding: .1rem 0 0 .5rem; }
    #container .iscroll main .p2-list {
      overflow: hidden; }
      #container .iscroll main .p2-list .p2 {
        width: 7.4rem;
        height: 6.8rem;
        float: left;
        border: 1px solid #c4c3c3;
        margin: 0 0 0.5rem 0.4rem;
        position: relative; }
        #container .iscroll main .p2-list .p2 .sale {
          position: absolute;
          bottom: 0.3rem; }
        #container .iscroll main .p2-list .p2 .desc {
          position: absolute;
          bottom: 1.7rem; }
        #container .iscroll main .p2-list .p2 .cost {
          position: absolute;
          bottom: 2.35rem; }
        #container .iscroll main .p2-list .p2 .specs {
          position: absolute;
          bottom: 3.05rem; }
        #container .iscroll main .p2-list .p2 .name {
          position: absolute;
          bottom: 3.75rem; }
        #container .iscroll main .p2-list .p2 .brand {
          position: absolute;
          top: 0.1rem; }
        #container .iscroll main .p2-list .p2 .brand0 {
          top: 0.5rem; }
        #container .iscroll main .p2-list .p2 .product {
          float: left;
          width: 2.9rem;
          height: 6.45rem;
          text-align: center;
          padding-top: .45rem;
          position: absolute;
          top: 0rem;
          right: 0; }
    #container .iscroll main .p1-list {
      margin-top: 1rem; }
      #container .iscroll main .p1-list .p1 {
        width: 15.2rem;
        padding: 0.2rem;
        border: 1px solid #c4c3c3;
        margin: 0 0 0.5rem 0.4rem;
        overflow: hidden;
        position: relative; }
        #container .iscroll main .p1-list .p1 .p1-intro {
          width: 7rem;
          padding-left: 0.3rem; }
        #container .iscroll main .p1-list .p1 .product {
          float: left;
          width: 7.45rem;
          height: 5.8rem;
          text-align: center;
          padding-top: 0.15rem; }
    #container .iscroll footer {
      width: 100%;
      margin-top: -24.8rem;
      z-index: -1;
      position: relative; }
      #container .iscroll footer img {
        width: 100%;
        height: 30.5rem; }

/*# sourceMappingURL=main.css.map */
>>>>>>> Stashed changes
